<% provide(:title, 'Play Game') %>
<div class="center">  
  <div class="row">
    <div class="span5 offset1">
      <%= render 'dashboard' %>
    </div>
    <div class="span4 offset1">
      <%= render 'gameboard' %>
    </div>
    <div class="span1">
    </div>    
  </div>
</div>
